.footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
.Get-in-touch {
  font-size: 2rem;
}

/* .contact_links{
    display: flex;
    flex-direction: row;
    color: #fff;
} */

.social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.social-media-links a {
  text-decoration: none;
  color: #fff;
}

.contact_email_div {
  display: flex;
  /* gap: 10px    ; */
  flex-direction: column;
  text-items: center;
}
.contact_email_div a {
  /* text-decoration: none; */
  color: #fff;
}
